<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HandwritingRecognition"
        tools:targetApi="31">
        <activity
            android:name=".ClippingTemplate"
            android:exported="false" />
        <activity
            android:name=".IdentifyingTemplate"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SelectIdentifyRange"
            android:exported="false" />
        <activity
            android:name=".SaveSuccess"
            android:exported="false" />
        <activity
            android:name=".SaveConfirm"
            android:exported="false" />
        <activity
            android:name=".BottomSheetSaveFile"
            android:exported="false" />
        <activity
            android:name=".IdentifyResult"
            android:exported="false" />
        <activity
            android:name=".IdentifyingImages"
            android:exported="false" />
        <activity
            android:name=".TakeSeveralPhotos"
            android:exported="false" />
        <activity
            android:name=".BottomSheetSelectModel"
            android:exported="false" />
        <activity
            android:name=".SelectIdentifyModel"
            android:exported="false" />
        <activity
            android:name=".ConfirmPhoto"
            android:exported="false" />
        <activity
            android:name=".TakeOnePhoto"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>